.layout{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.back_link{
    max-width: 120px;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    margin: 12px 24px 40px;
    transition: all .25s;
}
.back_link:hover{
    background: rgba(255, 255, 255, 0.11);
}
.back_link__icon{
    margin-right: 8px;
    color: #fff;
}
.item_title{
    margin: 0px 24px 12px;
    font-weight: 600;
    font-size: 18px;
}
.item_image{
    margin: 0px 24px;
}
.item_interaction{
    margin: 40px 24px 0;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.24);
}
.address{
    margin: 12px 16px;
}
.neighbourhood{
    margin: 0px 16px 12px;
}
.rating{
    margin: 0px 16px 12px;
}
.voteBtn{
    margin: 0px 16px 12px;
    padding: 4px 8px;
    border: 1px solid #f8faff;
    transition: all .35s;
}
.voteBtn:hover{
    color: #01010e;
    background-color: #ececf3
}

@media (min-width: 768px){
    .layout{
        flex-direction: row;
    }
    .back_link{
        margin-bottom: 24px;
    }
    .item_interaction{
        flex-grow: 1;
        height: 80%;
        margin: 118px 24px 0;
    }
}