.cardWrapper{
    padding: 20px 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    transition: all .35s;
}
.cardWrapper:hover{
    /* From https://css.glass */
    box-shadow: 0 10px 30px -12px rgb(255, 255, 255);
}
.cardTitle{
    margin-bottom: 12px;
}
.imageWrapper{
    padding-top: 1rem /* 16px */;
    padding-bottom: 1rem /* 16px */;
}
.cardImage{
    width: 100%;
    height: auto;
}